*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    max-width: 140rem;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    box-sizing:border-box;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
    color:#333;
    background-color: bisque;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.header{
    margin-bottom: 10rem;
    padding: 2rem;
}
.main-nav{
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.logo{
    max-width: 8rem;
    height: 8rem;
    cursor: pointer;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 4rem;

    font-weight: 600;
    list-style: none;
}
.nav-link{
    background: none;
    border: none;
    text-decoration: none;
    color: #333;
    transition: all 400ms;
}
.nav-link.logout{
    font-weight: 700;
    font-size: 1.8rem;
    transform: translateY(-0.2rem);
}
.nav-link:hover,
.nav-link:active{
    box-shadow: inset 0 -0.3rem 0 0 #333;
    padding-bottom: 0.3rem;
}
.main-content{
    flex: 1
}
.section-hero,
.section-features{
    margin-bottom: 10rem;
    padding: 2rem;

}
.footer-section{
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    text-align: center;
    color: #666;
}
.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
  }
